name: Update flake inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 */3 * *"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Nix
        uses: DeterminateSystems/nix-installer-action@v19

      - name: Update lockfile
        run: nix flake update

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "chore(deps): update flake inputs"
          default_author: github_actions
